inflect==4.1.0
numpy==2.1.0
optoKummenberg @ file:///home/pi/eyejets-mirror-controller/packages/optoKummenberg-1.0.4764-py3-none-any.whl
optoMDC @ file:///home/pi/eyejets-mirror-controller/packages/optoMDC-1.3.4781-py3-none-any.whl
pyserial==3.4
spidev==3.6
